vendor

bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

**/*node_modules

phpunit.xml
readme.md
phpspec.yml

Dockerfile
docker-compose.yml